*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

#container {
  padding: 1.5rem;
}

.header {
  background: linear-gradient(95deg, #fff 50%, #f6b400 20%);
}

.header__nav {
  display: flex;

  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.heading-1 {
  font-size: 3.5rem;
}
.heading-2 {
  font-size: 3.2rem;
}
.heading-3 {
  font-size: 2.2rem;
}

.btn {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: #f6b400;
  border: none;
}

.btn:hover {
  outline: none;
}

.logo__name {
  color: #f6b400;
  font-style: italic;
}

strong {
  color: black;
}

.header__nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  list-style: none;
}

.header__nav ul li {
  margin: 1rem;
  border-bottom: 5px solid transparent;
  transform: all 0.2s;
}
.header__nav ul li:hover {
  border-bottom: 5px solid #ff6f24;
}

.header__cart img {
  height: 2rem;
  margin: 0 2rem;
}

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.CTA {
  padding: 2rem;
  width: 70%;
}

.CTA__text {
  font-size: 2rem;
  margin: 3rem 0;
}

.CTA__btn {
  border-radius: 2rem 15px 0 2rem;
}

.header__main--img img {
  height: 60rem;
  width: 100%;
}

/* Main section */
.cards {
  background-color: #e1ebe6;
  padding: 25rem 0 10rem;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 5rem;
  column-gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  width: 32rem;
  border: 1px solid #7c3f48;
  border-radius: 10px;
  padding: 3rem 1.7rem;

  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.card * {
  margin-bottom: 2rem;
}

.card__icon-svg {
  height: 8rem;
  fill: #f6b400;
}

.card__heading {
  color: #7c3f48;
  font-weight: 500;
}

.card__text {
  font-size: 1.5rem;
}

.section-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 9rem 1rem;
}

.menu__heading {
  color: #f6b400;
  margin-bottom: 4rem;
  text-align: center;
  width: max-content;
  border-bottom: 5px solid transparent;
}

.menu__heading:hover {
  border-bottom: 5px solid #ff6f24;
}

.menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 6rem;
  column-gap: 2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  padding: 2rem 3rem;
  max-width: 40rem;
  border-radius: 3rem;
  box-shadow: 0 0 10px 3px rgb(64 60 67 / 16%);
  background-color: #fff;

  z-index: 1000;
}

.menu__tag {
  display: none;
}

.menu:first-child .menu__tag {
  display: block;
}

.menu__tag {
  width: 14rem;
  text-align: center;
  padding: 1rem 2rem;

  position: absolute;

  top: 2rem;
  right: -2rem;
  transform: rotate(45deg);
}

.menu__tag--new {
  background-color: #ff6f24;
}

.menu__img {
  height: 20rem;
}

.menu__title {
  font-weight: 600;
  color: #621624;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 1rem 0;
}

.menu__text {
  text-align: center;
  font-size: 1.6rem;
}

.menu__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10%;
}

.menu__footer span {
  display: block;
}

.menu__price {
  font-size: 1.8rem;
  font-weight: 500;
}

.menu__cart {
  background-color: #e1ebe6;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.menu__cart img {
  height: 2.5rem;
}

.section-decker {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: 10rem 1rem;
  background-color: #e1ebe64b;
}

.decker__content * {
  margin-bottom: 2rem;
}

.decker__footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dots :first-child {
  background-color: #ff6f24;
}

.dot {
  height: 2rem;
  width: 2rem;
  margin: auto 3px;
  background-color: #e1ebe6;
  border-radius: 50%;
  display: inline-block;
}

.decker__arrow {
  color: #f6b400;
  font-size: 10rem;
  transform: translateY(-25px);
}

.decker__heading {
  font-size: 4rem;
  color: #f6b400;
}

.decker__text {
  font-size: 1.8rem;
}

.decker__images {
  display: flex;
  position: relative;
}

.decker__img {
  height: 50rem;
}

.decker__images :first-child {
  position: absolute;
  top: 6rem;
  left: -3rem;
}

.section-download {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  background-color: #f6b400;
  padding: 10rem 1rem;
}

.download__heading {
  font-size: 4rem;
  line-height: 1.8;
  margin-bottom: 10rem;
}

.download__icon {
  height: 5rem;
}

.download__image img {
  height: 60rem;
}

.footer__main-section {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #e1ebe6;
}

.footer__nav {
  margin-top: 1rem;
  list-style: none;
}
.footer__list {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.sub__heading {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.input--email {
  padding: 1rem;
  font-size: 1.4rem;
  outline: none;
}

.footer__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 2rem 1rem 1rem;
}

.social__icon {
  margin: 0 1rem;
  height: 2rem;
}
