*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
}

#container {
  padding: 1.5rem;
}

.header {
  background: linear-gradient(95deg, #fff 50%, #f6b400 20%);
}

.header__nav {
  display: flex;

  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__name {
  font-size: 3rem;
  color: #f6b400;

  font-style: italic;
}
.logo__name strong {
  color: black;
}

.header__nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  list-style: none;
}

.header__nav ul li {
  margin: 1rem;
  border-bottom: 5px solid transparent;
  transform: all 0.2s;
}
.header__nav ul li:hover {
  border-bottom: 5px solid #ff6f24;
}

.header__cart img {
  height: 2rem;
  margin: 0 2rem;
}

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__main--img img {
  height: 60rem;
  width: 100%;
}
